@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;900&family=Raleway:ital,wght@0,100;0,400;0,700;0,900;1,900&display=swap');

:root{
  --title: 'Cinzel', serif;
  --deco-title: 'Cinzel Decorative', cursive;
  --reg-text: 'Raleway', sans-serif;
}

/* font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Raleway', sans-serif; */

*{
  padding: 0;
  margin: 0;
}

html, body{
  background: #ff6;
  height: 100vh;
  width: 100vw;
  
}

.App{
  height: 100vh;
  width: 100vw;
  background-color: honeydew;
}

.title {
  font-size: 2em;
  padding: 10px 5px;
  /* color: whitesmoke; */
  color: whitesmoke;

}

/* Home */
.home__title{
  position: absolute;
  color: goldenrod;
  z-index: 2;
}

.home__wrapper{

  width: auto;
  height: 95vh;
  border: 1px solid darkkhaki;
}

.home__wrapper img{
  position: absolute;
  max-width: 100%;
  max-height: auto;
  z-index: 0;
}

.home__area{
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 95vw;
}

/* About */

/* Blog */

.blog__title{
  color: white;
}

.blog__page{
  background: #000;
  height: 95vh;
  width:100vw;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
}
.blog__left_section{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30vw;
  /* border: 2px solid white; */
  background: pink;
  animation: blog_left_bar 1s ease-in-out; 
}

.blog__grid{
  display: flex;
  height: 100%;
  width: 70vw;
  justify-content: flex-end;
  align-items: flex-start;
  flex-flow: row-reverse;
  margin: 2%;
  padding-left: 31vw;

}
.blog__post__card{
  height: auto;
  width: auto;
  border: 5px dotted white;
  padding-bottom: 50px;
  margin: 10px
}
.blog__post__title{
  text-align: center;

}

.blog__img{
  width: 200px;
  height: 200px;
}


/* Contact */

/* NavBar */
.NavBar__wrapper{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  background: chocolate;
  
  
}
.NavBar__area{
  width: 75vw;
  background: cornflowerblue;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  transition: 1s;
}

/* .NavBar__area:hover{

} */

.NavBar__links{
  margin-top: 15px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.NavBar__links a{
  transform: scale(.9);
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  font-family: var(--title);
  color: #000;
  transition: 2s
}
.NavBar__links a:visited{
  text-decoration: none;
  
}
.NavBar__links a:hover{
  background:crimson;
  transition: 6s;
  
}

/* Project */

/* SinglePost */

/* animations */

@keyframes blog_left_bar{
  from{
    top: 100vh;
    left: 0;
  }
  to{
    top: 0;
    left: 0;
  }
}