:root{
}

*{
  padding: 0;
  margin: 0;
  background: salmon;
}

html, body{
  background: #ff6;
}

.title {
  font-size: 2em;
  padding: 10px 5px;
  /* color: whitesmoke; */

}

/* Home */
.home__title{
  color: goldenrod;
}
/* About */

/* Blog */

/* Contact */

/* NavBar */

/* Project */

/* SinglePost */