@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;900&family=Raleway:ital,wght@0,100;0,400;0,700;0,900;1,900&display=swap');

:root{
  --title: 'Cinzel', serif;
  --deco-title: 'Cinzel Decorative', cursive;
  --reg-text: 'Raleway', sans-serif;
  --blue: rgb(0, 165, 244,);
  --green: rgb(0, 57, 77);
  --yellow: rgb(255, 189, 32);
  --peach: rgb(255, 189, 169);
  --orange: rgb(243, 119, 25);
  --red-one: rgb(202, 37, 30);
  --red-two: rgb(249, 50, 37);
  --magenta: rgb(251, 27, 107);
  --salmon: rgb(218, 83, 78);
}

/* font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Raleway', sans-serif; */

*{
  padding: 0;
  margin: 0;
  color: gainsboro;

}

html, body{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background:rgb(139,139,139);
}

.App{
  height: 100vh;
  width: 100vw;
}

.title {
  font-size: 5em;
  padding: 10px 5px;
  font-family: var(--title);
  font-weight:100;

  /* color: whitesmoke; */
  /* color: whitesmoke; */

}

/* Home */
.home__title{
  font-family: var(--deco-title);
  font-size: 19vh;
  color: #000;
}

.home__main{
  width: auto;
  height: 95vh;
}

.home__main img{
  position: absolute;
  max-width: 100%;
  max-height: auto;
  z-index: 0;
}

.home_title__box{
  position: absolute;
  bottom: 15%;
  left: 5%;
  width: 100%;
}

/* About */

.about__title{
  font-size: 3em;
  text-align: center;
}



.bio__section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 5%;
  height: 60vh;
  width: 45vw;
  background: rgba(0,0,0,.8);
  border: 5px solid black;
  padding: 10px;
  font-style: var(--reg-text);
}

.bio__section img{
  padding-top: 15px;
  height: 300px;
  width:auto;
  
}

.author__name{
  text-align: center;
  font-weight: 500;
}

.block__content{
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
}


/* Blog */

.blog__title{
  font-family: var(--deco-title);
  font-weight: 900;
  font-size: 8em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 2%;
  left: 2vw;
  color: #000;
}

.blog__main{
  /* background: #000; */
  height: 95vh;
  width:100vw;
  /* color: whitesmoke; */
  display: flex;
  flex-direction: row;
}
.blog__left_section{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 15vw;
  /* border: 2px solid white; */
  background: rgb(252, 200, 189);
  border: 4px solid black;
}


.blog__grid{
  display: flex;
  height: 100vh;
  width: 80vw;
  flex-flow: column;
  align-items: center;
  margin: 2%;
  padding-left: 21vw;
  overflow: scroll;
}

.blog__post__card{  
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50vw;
  margin: 10px;
  border-left: 5px solid rgb(252, 200, 189);
}


.blog__post__title{
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: var(--reg-text);
}

.blog__post__title h3{
  color: black;
  text-decoration: none;;
}



.blog__img{
  width: 100%;
  height: 100%;
}


/* Contact */



/* NavBar */
.navbar__main{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  background: rgb(97,97,97)
  
  
}
.navbar__area{
  width: 75vw;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  transition: 1s;
}

/* .NavBar__area:hover{

} */

.navbar__links{
  background: inherit;
  margin-top: 15px;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar__links a{
  transform: scale(.9);
  text-decoration: none;
  font-size: 5vh;
  font-weight: 500;
  font-family: var(--reg-text);
  color: #000;
  transition: 2s
}
.navbar__links a:visited{
  text-decoration: none;
}

/* Project */
.project__main{
  /* background: rgb(135,206,235);  */
  height: 95vh;
  width: 100vw;
}

.project__title{
  font-family: var(--deco-title);
  font-size: 15vh;
  font-weight: 100;
  position: absolute;
  top: 4%;
  left: 6%;
  opacity: .9;
  color:black;
}

.mountain__one{
  position: absolute;
  height: 96vh;
  width: 100vw;
  background: gray;
  clip-path: polygon(15% 65%, 0% 100%, 100% 100%);
  border: 1px solid black;

}
.mountain__two{
  position: absolute;
  height: 96vh;
  width: 100vw;
  background: slategray;
  clip-path: polygon(62% 63%, 0% 100%, 100% 100%);


}
.mountain__three{
  position: absolute;
  height: 96vh;
  width: 100vw;
  background: darkslategray;
  clip-path: polygon(83% 35%, 45% 100%, 100% 100%);
}

.project__box{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.project__ a{
  font-family: var(--deco-title);
  font-size: 3.5em;
  text-decoration: none;
}

.project__ a:hover{
  color: rgb(242,145,226)
  
}

/* SinglePost */

.SP__slide{
  height: auto;
  width: 100vw;
  background:rgb(139,139,139);
  overflow: scroll;
}

.SP__header{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background:rgb(252, 200, 189);
  font-family: var(--deco-title);
  box-shadow: 5px solid black;
}

.SP__header h1{
  color: black;
}

.SP__block{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  font-size: 30px;
  font-weight: 600;
  font-family: var(--reg-text);
  padding-left: 10%;
  padding-right: 10%;
  overflow: scroll;
}




.loading__screen{
  display: flex;
  height:100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.contact__main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.contact__placeholder{
  border: 5px solid black; 
  background: rgb(147, 236, 118);
}

.contact__placeholder img{
  height: 600px;
  opacity: 0;
}

.contact__placeholder img:hover{
  height: 600px;
  opacity: 1;
  transition: 7s;
}

/* animations */

@keyframes blog_left_bar{
  from{
    top: 100vh;
    left: 0;
  }
  to{
    top: 0;
    left: 0;
  }
}